.layout {
  background-image: linear-gradient(180deg,rgba(172,221,255,.7),hsla(0,0%,100%,.7) 50%);
  background-size: 100% 1280px;
  background-repeat: no-repeat;
  height: 100%;

  height: 200vh;
}

.header {}

.main {}

.footer {}
